<nav class="nav navbar navbar-light bg-primary">
  <div class="container-fluid">
    <h2>RestaurentApp</h2>
    <div class="d-flex">
      <button
        type="button"
        class="btn btn-success"
        data-bs-toggle="modal"
        data-bs-target="#exampleModal"
      >
        Add data
      </button>
    </div>
  </div>
</nav>

<div class="p-5 mb-4 bg-light rounded-3">
  <div class="container-fluid py-5">
    <h1 class="display-5 fw-bold">REstaurent Record Data</h1>
    <p class="col-md-8 fs-4">You can save Records</p>
    <button class="btn btn-primary btn-lg" type="button">Testycodeeiz</button>
  </div>
</div>

<!----------table---------->

<table class="table" mt-4>
  <thead>
    <tr>
      <th scope="col">Restaurent Id</th>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">Mobile</th>
      <th scope="col">Address</th>
      <th scope="col">Services</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of allRestaurntData">
      <td>{{ data.id }}</td>
      <td>{{ data.name }}</td>
      <td>{{ data.email }}</td>
      <td>{{ data.phone }}</td>
      <td>{{ data.address }}</td>
      <td>{{ data.services }}</td>
      <td>
        <button
          type="button"
          class="btn btn-success"
          data-bs-toggle="modal"
          data-bs-target="#exampleEditModal"
          (click)="onEditResto(data)"
        >
          Edit
        </button>

        &nbsp;
        <button class="btn btn-danger" (click)="deleteResto(data)">
          Delete
        </button>
      </td>
    </tr>
  </tbody>
</table>

<!-- Modal -->
<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Records data form</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>

      <div class="modal-body">
        <form [formGroup]="formValue">
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Name</label>
            <input
              type="email"
              formControlName="name"
              class="form-control"
              id="exampleInputName"
              aria-describedby="nameHelp"
            />
          </div>

          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Email</label>
            <input
              type="email"
              formControlName="email"
              class="form-control"
              id="exampleInputEmail"
            />
          </div>

          <label for="exampleInputEmail1" class="form-label">Phone</label>
          <input
            type="number"
            formControlName="phone"
            class="form-control"
            id="exampleInputPhone"
            aria-describedby="phoneHelp"
          />

          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label"
              >Address</label
            >
            <input
              type="text"
              formControlName="address"
              class="form-control"
              id="exampleInputAdress"
            />
          </div>

          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label"
              >Services</label
            >

            <input
              type="text"
              formControlName="services"
              class="form-control"
              id="exampleInputServices"
            />
          </div>
        </form>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
        <button type="button" class="btn btn-primary" (click)="addResto()">
          Add details
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Edit Modal -->
<div
  class="modal fade"
  id="exampleEditModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Edit record</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>

      <div class="modal-body">
        <form [formGroup]="formValue">
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Name</label>
            <input
              type="email"
              formControlName="name"
              class="form-control"
              id="exampleInputName"
              aria-describedby="nameHelp"
            />
          </div>

          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Email</label>
            <input
              type="email"
              formControlName="email"
              class="form-control"
              id="exampleInputEmail"
            />
          </div>

          <label for="exampleInputEmail1" class="form-label">Phone</label>
          <input
            type="number"
            formControlName="phone"
            class="form-control"
            id="exampleInputPhone"
            aria-describedby="phoneHelp"
          />

          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label"
              >Address</label
            >
            <input
              type="text"
              formControlName="address"
              class="form-control"
              id="exampleInputAdress"
            />
          </div>

          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label"
              >Services</label
            >

            <input
              type="text"
              formControlName="services"
              class="form-control"
              id="exampleInputServices"
            />
          </div>
        </form>
      </div>

      <div class="modal-footer">
        <button type="button" id="clear" class="btn btn-warning">Clear</button>

        <button type="button" class="btn btn-primary" (click)="addResto()">
          Add Details
        </button>

        <button type="button" class="btn btn-primary" (click)="updateResto()">
          Update details
        </button>
      </div>
    </div>
  </div>
</div>
